<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Template</title>

    <link rel="stylesheet" href="css/styles.css">
    <style>
      @@include('public/templates/css/responsive.css')

    </style>
  </head>

  <body>
    <table class="body">
      <tr>
        <td align="center">
          <center>

            <table class="l-container">
              <tr>
                <td>
                  <!-- Campaign notice -->
                  <table class="l-row l-notice">
                    <tr>
                      <td grid-col="12" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              <a href="%%webversion%%" style="">view in browser</a>
                            </td>
                            <td class="l-expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <!-- Header -->
                  <table class="l-row l-header">
                    <tr>
                      <td grid-col="12" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/300x100/78909C/ffffff?text=Logo" alt="logo" width="150" height="50" />
                              </a>
                            </td>
                            <td class="l-expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <!-- Content -->
                  <table class="l-row">
                    <tr>
                      <td grid-col="12" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/1280x640/a5d6a7/ffffff?text=Banner" alt="" class="full-width" />
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <table class="l-row l-spacing-row">
                    <tr>
                      <td grid-col="12" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia iste nulla nam voluptatem, impedit, quae cumque inventore ipsam neque voluptate quam deserunt similique asperiores. Labore voluptates unde molestiae corporis.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="" target="_blank">Link</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <table class="l-row l-spacing" grid="2">
                    <tr>
                      <td grid-col="6" grid-col-sm="6">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/600x320/a5d6a7/ffffff?text=Image" alt="" class="full-width" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia iste nulla nam voluptatem, impedit, quae cumque inventore ipsam neque voluptate quam deserunt similique asperiores. Labore voluptates unde molestiae corporis.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="" target="_blank">Link</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td grid-col="6" grid-col-sm="6">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/600x320/a5d6a7/ffffff?text=Image" alt="" class="full-width" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia iste nulla nam voluptatem, impedit, quae cumque inventore ipsam neque voluptate quam deserunt similique asperiores. Labore voluptates unde molestiae corporis.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="" target="_blank">Link</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <table class="l-row l-spacing" grid="2">
                    <tr>
                      <td grid-col="8" grid-col-sm="6">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/600x320/a5d6a7/ffffff?text=Image" alt="" class="full-width" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia iste nulla nam voluptatem, impedit, quae cumque inventore ipsam neque voluptate quam deserunt similique asperiores. Labore voluptates unde molestiae corporis.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="" target="_blank">Link</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td grid-col="4" grid-col-sm="6">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/600x320/a5d6a7/ffffff?text=Image" alt="" class="full-width" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia iste nulla nam voluptatem, impedit, quae cumque inventore ipsam neque voluptate quam deserunt similique asperiores. Labore voluptates unde molestiae corporis.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="" target="_blank">Link</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <table class="l-row l-spacing" grid="3">
                    <tr>
                      <td grid-col="4" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/600x320/a5d6a7/ffffff?text=Image" alt="" class="full-width" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia iste nulla nam voluptatem, impedit, quae cumque inventore ipsam neque voluptate quam deserunt similique asperiores. Labore voluptates unde molestiae corporis.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="" target="_blank">Link</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td grid-col="4" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/600x320/a5d6a7/ffffff?text=Image" alt="" class="full-width" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia iste nulla nam voluptatem, impedit, quae cumque inventore ipsam neque voluptate quam deserunt similique asperiores. Labore voluptates unde molestiae corporis.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="" target="_blank">Link</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td grid-col="4" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              <a href="" target="_blank">
                                <img src="http://placehold.it/600x320/a5d6a7/ffffff?text=Image" alt="" class="full-width" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quia iste nulla nam voluptatem, impedit, quae cumque inventore ipsam neque voluptate quam deserunt similique asperiores. Labore voluptates unde molestiae corporis.
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="" target="_blank">Link</a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <!-- Footer -->
                  <table class="l-row l-footer">
                    <tr>
                      <td grid-col="12" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              <table class="social" align="center">
                                <tr>
                                  <td>
                                    <a href="https://www.facebook.com/"><img src="http://placehold.it/96x96/3b5998/ffffff?text=Fb" width="48" height="48" alt="Facebook" /></a>
                                  </td>
                                  <td>
                                    <a href="https://twitter.com/"><img src="http://placehold.it/96x96/55acee/ffffff?text=t" alt="Twitter" width="48" height="48" /></a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td class="l-expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                  <!-- Campaign notice -->
                  <table class="l-row l-notice">
                    <tr>
                      <td grid-col="12" grid-col-sm="12">
                        <table>
                          <tr>
                            <td>
                              <a href="%%unsubscribelink%%" style="">unsubscribe</a>
                            </td>
                            <td class="l-expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
