// ==================================================
// Variables / Brand
// ==================================================

$ff-primary : Helvetica, sans-serif;
$c-primary  : #455a64;

// ==================================================
// Variables / Colors
// ==================================================

$c-black-400 : #333 !default;
$c-gray-400  : #b5b7b6 !default;
$c-white-400 : #fff !default;

// ==================================================
// Variables / Layout
// ==================================================

$l-container   : 600px; // width should be 600-640
$l-columns     : 12;
$l-spacing-row : 10px; // padding between rows
$l-spacing-col : 10px; // padding between columns
